.detail-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  background-image: url(../assets/mobile-bacground.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  color: white;
  align-items: center;
}

.back {
  color: goldenrod;
  margin-top: 80px;
  font-size: 30px;
  text-decoration: none;
}

tr {
  margin: auto;
}

.data,
.value {
  width: 350px;
  height: 20px;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: blue;
}

th:nth-child(1) {
  text-align: left;
  font-style: italic;
}

th:nth-child(2) {
  text-align: right;
}

@media (max-width: 800px) {
  .data,
  .value {
    width: 110px;
    font-size: 15px;
  }
}
