@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

.navbar {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  column-gap: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.setting-bell-section {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 50px;
}

.bell {
  width: 30px;
  height: 30px;
}

.setting {
  width: 30px;
  height: 30px;
}

.monetae {
  font-size: 53px;
  color: goldenrod;
  margin-bottom: 15px;
  font-family: 'Viaoda Libre', cursive;
  font-weight: bolder;
  border-bottom: none;
  font-variant: small-caps;
  margin-left: -10px;
}
