@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

.navbar {
  position: fixed;
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #c5dcdc;
  padding-bottom: 10px;
  z-index: 2;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-top: 10px;
  text-decoration: none;
  margin-left: 5%;
}

.setting-bell-section {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-right: 10%;
}

.bell {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.setting {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.monetae {
  font-size: 53px;
  color: goldenrod;
  margin-bottom: 15px;
  font-family: 'Viaoda Libre', cursive;
  font-weight: bolder;
  border-bottom: none;
  font-variant: small-caps;
  margin-left: -10px;
}

@media (max-width: 600px) {
  .monetae {
    font-size: 40px;
  }

  .logo {
    scale: 0.9;
  }

  .setting-bell-section {
    column-gap: 20%;
    margin-right: 6%;
  }

  .logo-section {
    margin-left: 0;
  }
}
